:root{
   --olivegreen:#1D3130;
   --lightpink:#FAEEE7;
   --lightgreen:#8ADAB2;
   --white:#F8FAE5;
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-height: max-content;
}
.bggreen{
    width:100vw;
    height:auto;
    background-color: var(--olivegreen);
}
.navbar{
    width:100vw;
    height: auto;
    margin:20px;
    padding:10px;
    margin-top: 0px;
}
.name{
    margin: 5px 55% 5px 50px;
    padding: 2px;
    font-family: cursive;
    font-weight: 400;
    font-size:18px;
    list-style-type: none;
    color: white;

}
.navbar ul{
    display: flex;
    gap:20px;
   
}
.navbar ul li:not(.name){
    list-style-type: none;
    font-family: cursive;
    font-style: normal;
    margin: 5px;
    padding: 2px;
   
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li:not(.name):hover{
    color:var(--lightpink);
    border-bottom: 2px solid white;
}
.name:hover{
    color:#FBA1A1;
}
.quote{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin: 100px auto auto 50px;
    font-family: "Roboto Serif", serif;
}
.quote h1{
    color: white;
    font-weight: 400;
    font-size: 60px;
    padding: 10px;
}
.quote p{
    color: rgb(245, 236, 236);
    font-size: 16px;
    padding: 10px;
}
.quote button{
    display: inline-block;
    width:fit-content;
    padding: 16px;
    font-size: 12px;
    border-top-left-radius:30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-weight: 600;

}
.quote button:hover{
    background-color: lightgray;
    opacity: 0.5;
    color: black;
}
.main1{
    display: flex;
    gap:10px;
}
.main1 img{
    box-shadow: none;
    border: 0px;
    margin:10px 50px 0px auto;
    height:500px;
}
.white{
        width: 100vw;
        height: 100vh;
        background: linear-gradient(
          to top,
          var(--white) 0%,
          var(--white)50%,
          var(--lightgreen)50%,
          var(--lightgreen)100%
        );
       display: flex;
       align-items: center;
       justify-content: center;

}
.container{
    display: flex;
    gap:50px;
}
.img img{
    width:300px;
    height: 350px;
    transition-duration: 1s;
}
.img h3{
    margin: 10px;
    padding: 12px;
    font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 1s;
}
.img img:hover{
    transform:scale(1.1);
}
.img h3:hover{
    transform:scale(1.1);
}
.backimg{
    width: 100vw;
    height: 100vh;
    background-image: url('imgback.jpg');
     background-size:auto;
    background-repeat: no-repeat;
    display: flex;
    gap:50px;
}
.backimg img{
    height: 500px;
    width: 700px;
}
.cont{
    height:200px;
    width:350px;
   margin:12% auto auto 10%;

}
.cont h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:15px;
}
.cont p{
    font-family: "Roboto Serif", serif;
    font-size: 15px;
    margin: 15px;
}
.cont button{
    display: inline-block;
    width:fit-content;
    padding: 10px;
    font-size: 12px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    border: 1px solid white;
    background: transparent;
    color: black;
    font-weight: 300;
    margin: 15px;

}
.cont button:hover{
    background-color: rgb(57, 55, 55);
    opacity: 0.5;
    color: white;

}
.final button{
    display: inline-block;
    width:fit-content;
    padding: 10px;
    font-size: 12px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    background: transparent;
    color: black;
    font-weight: 300;
    margin-left: 200px;
}
.final button:hover{
    background-color: rgb(57, 55, 55);
    opacity: 0.5;
    color: white;

}